html, body {
  background: #EAEAEA;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ellipse {
    width: 100%;
    z-index: 0;
}

.cardcontainer {
    width: 100vw;
}

section.options {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.9375rem;
align-self: stretch;
}

.options-heading {
display: flex;
align-items: center;
gap: 0.3125rem;
align-self: stretch;
}

.options-heading p {
color: #04081B;
font-family: "Plus Jakarta Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.influences-wrapper {
display: flex;
padding-left: 0.625rem;
justify-content: flex-end;
align-items: center;
gap: 0.625rem;
flex: 1 0 0;
}

.influences-wrapper p {
color: #0075FA;
font-family: "Plus Jakarta Sans";
font-size: 0.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.options-wrapper {
display: flex;
padding: 0.9375rem;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 0.625rem;
align-self: stretch;
border-radius: 1rem;
border: 2.4px solid rgba(140, 149, 152, 0.24);
background: #FFF;

/* Drop Shadow Cards */
box-shadow: 0px 0.882px 3.518px 1.207px rgba(0, 0, 0, 0.07);
}

.first-row-wrapper {
display: flex;
height: 3.5rem;
align-items: flex-start;
gap: 0.625rem;
align-self: stretch;
}

.experience {
display: flex;
height: 3.5rem;
padding: 0.625rem;
align-items: center;
flex: 1 0 0;
border-radius: 0.4375rem;
border: 3px solid rgba(255, 255, 255, 0.24);
background: url(assets/images/rainbow.jpg) lightgray 50% / cover no-repeat;
box-shadow: 0px 0.882px 3.518px 1.207px rgba(0, 0, 0, 0.27);
}

.experience-wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.3125rem;
flex: 1 0 0;
}

.experience-subtitle {
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.experience-subtitle p {
color: #FFF;
font-family: "Plus Jakarta Sans";
font-size: 0.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.experience-subtitle img {
  filter: brightness(0) invert(1); /* trasforma l'immagine in bianco */
}

.experience-value {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.3125rem;
}

.experience-value p {
color: #FFF;
font-family: "Plus Jakarta Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.slot {
position: relative;
display: flex;
height: 3.5rem;
padding: 0.625rem;
align-items: center;
flex: 1 0 0;
border-radius: 0.4375rem;
border: 2.4px solid rgba(140, 149, 152, 0.24);
background: #FFF;
}

.slot-wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.3125rem;
flex: 1 0 0;
}

.slot-subtitle {
display: flex;
align-items: center;
align-self: stretch;
}

.slot-subtitle p {
flex: 1 0 0;
color: #C2C2C2;
font-family: "Plus Jakarta Sans";
font-size: 0.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.slot-value {
display: flex;
justify-content: space-between;
align-items: flex-end;
align-self: stretch;
}

.slot-value p {
color: #2D2F36;
font-family: "Plus Jakarta Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.slot-value p:nth-of-type(2) {
color: #2D2F36;
font-family: "Plus Jakarta Sans";
font-size: 0.625rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.slot img.price-influences {
position: absolute;
right: -0.5rem;
top: -0.5rem;
}

.second-row-wrapper {
display: flex;
height: 3.5rem;
align-items: flex-start;
gap: 0.625rem;
align-self: stretch;
}

.people {
display: flex;
padding: 0.625rem;
align-items: center;
flex: 1 0 0;
align-self: stretch;
border-radius: 0.4375rem;
border: 2.4px solid rgba(140, 149, 152, 0.24);
background: #FFF;
}

.people-wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.3125rem;
flex: 1 0 0;
}

.people-subtitle {
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.people-subtitle p {
color: #C2C2C2;
font-family: "Plus Jakarta Sans";
font-size: 0.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.people-value {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.3125rem;
}

.people-value p {
color: #2D2F36;
font-family: "Plus Jakarta Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.people.price-influences {
position: absolute;
right: 0.00006rem;
}

.sunset-combo {
display: flex;
padding: 0.625rem;
align-items: center;
flex: 1 0 0;
align-self: stretch;
border-radius: 0.4375rem;
border: 2.4px solid rgba(140, 149, 152, 0.24);
background: #FFF;
}

.sunset-combo-wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.3125rem;
flex: 1 0 0;
}

.sunset-combo-subtitle {
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.sunset-combo-subtitle p {
color: #C2C2C2;
font-family: "Plus Jakarta Sans";
font-size: 0.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.sunset-combo-value {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.3125rem;
}

.sunset-combo-value p {
color: #2D2F36;
font-family: "Plus Jakarta Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.sunset-combo.price-influences {
position: absolute;
right: 0.02963rem;
}

.group-type {
display: flex;
padding: 0.625rem;
align-items: center;
flex: 1 0 0;
align-self: stretch;
border-radius: 0.4375rem;
border: 2.4px solid rgba(140, 149, 152, 0.24);
background: #FFF;
}

.group-type-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 0.3125rem;
flex: 1 0 0;
}

.group-type-subtitle {
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.group-type-subtitle p {
color: #C2C2C2;
font-family: "Plus Jakarta Sans";
font-size: 0.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.group-type-value {
display: flex;
align-items: center;
gap: 0.3125rem;
}

.group-type-value p {
color: #2D2F36;
font-family: "Plus Jakarta Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.flatpickr-calendar {
  transition: none !important;
  animation: none !important;
}

