@media screen and (max-width: 1200px) {

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    nav {
        display: flex;
        position: sticky;
        width: 100vw;
        padding: 1rem 0rem;
        justify-content: center;
        align-items: center;

    }

}