@media screen and (max-width: 900px) {

html,
body {
  background: #EAEAEA;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding-top: 0rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-family: "Plus Jakarta Sans";
}

.noselect {
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.booking-step {
  display: none;
}

section.calendar-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 1rem;
}

.booking-step.responsive {
  display: flex;
  flex-direction: column;
}

.booking-table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.9375rem;
  align-self: stretch;
  border-radius: 1rem;
  border: 2.4px solid rgba(140, 149, 152, 0.24);
  background: #FFF;
  width: 100vw;
  padding: 1rem;
  height: fit-content;  
  box-shadow: 0px 0.882px 3.518px 1.207px rgba(0, 0, 0, 0.07);
}

.section-heading {
  display: flex;
  align-items: center;
  gap: 0rem;
  align-self: stretch;
  padding-bottom: 0rem;
}

.wrapper-customize {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3125rem;
}

.section-heading p {
  color: #04081B;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0rem;
}

.influences-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
}

.influences-wrapper p {
  color: #0075FA;
  font-family: "Plus Jakarta Sans";
  font-size: 0.75rem;
  font-weight: 700;
}

.options {
  width: 25em;
}

.wrapper-people-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.3125rem;
}

.options-wrapper {
  display: flex;
  padding: 0rem;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 0.3125rem;;
  align-self: stretch;
  border-radius: 1rem;
  background: #FFF;
}

.option-row {
  cursor: pointer;
  margin-bottom: 0rem;
  padding: 0.625rem;
  position: relative;
  width: 100%;
  border-radius: 0.4375rem;
  background: #FFF;
  box-shadow: 0px 0.882px 13.52px 1.207px rgba(0, 0, 0, 0.17);
  user-select: none;

}

.option-price {
  cursor: default;
}

.option-row.dropdown-open .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.5rem;
  z-index: 2;
  background: white;
  width: calc(100% + 4.8px);
  left: -2.4px;
  padding: 0 4px 4px 4px;
  border: 2.4px solid rgba(140, 149, 152, 0.24);
  border-top: none;
  border-radius: 0 0 0.4375rem 0.4375rem;
}

.dropdown-item {
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 14px;
}

.dropdown-item:hover {
  background: #e9e9e9;
}


.option-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
  padding: 0.625rem;
  width: 100%;
}

.option-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 0.3125rem;
}

.option-subtitle p {
  color: #666;
font-family: "Plus Jakarta Sans";
font-size: 0.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.option-subtitle img {
  transition: transform 0.3s ease;
  width: 16px;
  height: 16px;
}

.option-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.3125rem;
}

.option-value p {
 color: #04081B;
font-family: "Plus Jakarta Sans";
font-size: 0.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.option-value p.secondary {
  font-size: 0.625rem;
  font-weight: 500;
}

.option-subtitle img {
  float: right;
}

.option-row.dropdown-open .option-subtitle img {
  transform: rotate(180deg);
}

.white p,
.white p.secondary {
  color: #FFF;
}

.white img {
  filter: brightness(0) invert(1);
}

.price-influences {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

.dropdown-content {
  display: none;
  margin-top: 10px;
}

.option-row.locked {
  pointer-events: none;
  opacity: 0.5;
}

.dropdown-item.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.experience {
  display: flex;
  height: fit-content;
  padding: 0.625rem;
  align-items: center;
  flex: 1 0 0;
  border-radius: 0.4375rem;
  border: 3px solid rgba(255, 255, 255, 0.24);
  background: url(assets/images/rainbow.jpg) lightgray 50% / cover no-repeat;
  box-shadow: 0px 0.882px 3.518px 1.207px rgba(0, 0, 0, 0.27);
}

.experience .option-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.3125rem;
  flex: 1 0 0;
  justify-content: space-between;
}

.option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.3125rem;
  flex: 1 0 0;
}

.experience .option-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.experience .option-subtitle p {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.experience .option-subtitle img {
  filter: brightness(0) invert(1);
  /* trasforma l'immagine in bianco */
}

.experience .option-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
}

.experience .option-value p {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.option-input {
  width: 100%;
  padding: 10px 12px;
  font-family: "Plus Jakarta Sans";
  font-size: 0.875rem;
  font-weight: 500;
  color: #2D2F36;
  border-radius: 0.4375rem;
  border: 2.4px solid rgba(140, 149, 152, 0.24);
  background: #FFF;
  outline: none;
  resize: none;
  box-shadow: none;
}

.option-input::placeholder {
  color: #bbb;
}

#bookBtn,
#continueBtn {
  background: #0075FA;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

#bookBtn:hover,
#continueBtn:hover {
  background: #005fcb;
}

button:disabled{
  background: #ccc !important;
  cursor: not-allowed !important;
}

#backBtn:hover {
  background: #e9e9e9;
  cursor: pointer
}

.split-summary {
  display: flex;
  flex-direction: row;
}

.booking-table-summary {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.625rem;
}

.required-star {
  color: #e53935;
  font-weight: bold;
  margin-left: 2px;
}
.input-error {
  color: #e53935;
  font-size: 0.8em;
  margin-top: 2px;
  max-height: 1.2em;
}


}