#calendar {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flatpickr-calendar {
  font-family: 'Plus Jakarta Sans';
  border-radius: 16px;
  padding: 6px;
  width: 100%;
}

.dayContainer {
  padding: 8px !important;
}

.flatpickr-weekdays {
  padding: 0 8px !important;
}

.flatpickr-day {
  border-radius: 0.5rem;
  transition: background 0.2s;
  position: relative;
  font-weight: 700;
}

.flatpickr-disabled {
  background: #f0f0f0;
  color: #adadad !important;
  cursor: not-allowed;
  font-weight: 400;
}

.flatpickr-day.selected {
  background: #19181d;
  border: none;
  color: white;
}


.flatpickr-day.selected:hover {
  background: #19181d;
  border: none;
  color: white;
}

.flatpickr-day.today {
  background: #e4f1ff;
  border: none;
}

.event-icon {
  margin: 0;
  position: absolute;
}

.event-icon img {
  width: 14px !important;
  height: 14px !important;
  position: absolute;
  top: 4px;
  left: 1px;
  filter: opacity(0.5);
}

.flatpickr-current-month {
  font-size: 110%;
}

.custom-month-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 100%;
}

.custom-month-year-label {
  font-size: 1.1em;
  font-weight: 500;
}

.custom-arrows-container {
  display: flex;
  gap: 4px;
}

.flatpickr-months {
  padding: 8px 12px;
}

.flatpickr-prev-month {
  right: 36px;
  left: auto !important;
  width: fit-content;
}

.flatpickr-next-month {
  right: 12px !important;
}

.flatpickr-innerContainer {
  justify-content: center;
}

.flatpickr-calendar.arrowTop:before{
  opacity: 0;
  z-index: -1;
  bottom: 0;
}

.flatpickr-calendar.arrowTop:after {
  opacity: 0;
}