@media screen and (max-width: 390px) {

  .cardcontainer {
  flex-direction: row;
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    gap: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* smooth scrolling iOS */
    scroll-snap-type: x mandatory;
  }

  .ellipse {
    width: 100%;
  }

  .card {
    scroll-snap-align: start;

  }


.cardcontainer .card#first {
  z-index: 1;
  animation: none;
  order: 3;
    transform: rotate(0deg);
    padding: 0rem 0rem;
}


.cardcontainer .card#second {
  z-index: 2;
  animation: none;
  scale: none;
  transform: rotate(0deg);
  bottom: 0rem;
  scale: 1.0;
}



.cardcontainer .card#third {
  z-index: 1;
  animation: none;
    transform: rotate(0deg);
}



  .cardcontainer::-webkit-scrollbar {
    display: none;
  }
}
