@media screen and (max-width: 804px) {

  .cardcontainer {
    display: flex;
    gap: 0rem;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* smooth scrolling iOS */
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  

  .card {
    scroll-snap-align: start;
  }

.cardcontainer .card#first {
  transform: rotate(-2.81deg);
  z-index: 1;
  animation: none;
    
}


.cardcontainer .card#second {
  z-index: 2;
  animation: none;
  scale: none;
}



.cardcontainer .card#third {
  transform: rotate(1.87deg);
  z-index: 1;
  animation: none;
}



  .cardcontainer::-webkit-scrollbar {
    display: none;
  }
}
