* {
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

html {
  background: #FFF;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 63.75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 0rem;
}

a {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  padding: 1.875rem 45%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.90);
  border-bottom: 1px solid #DBDBDB;
  backdrop-filter: blur(7.800000190734863px);
  z-index: 100;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
    padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10.375rem;
  padding: 0.625rem 0.9375rem;
  gap: 0.625rem;
  background: #0075FA;
  border: none;
  border-radius: 0.4375rem;
  color: #FFF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.20244rem;
  cursor: pointer;  
}

section.heading {
  display: flex;
  position: relative;
  max-width: 63.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
}

section.heading .wrapper {
  display: flex;
  width: 63.75rem;
  max-width: 63.75rem;
  padding-top: 6rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

section.heading .wrapper h1 {
  color: #04081B;
  font-family: "Plus Jakarta Sans";
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
}

section.heading .wrapper p {
  align-self: stretch;
  color: rgba(117, 118, 122, 0.99);
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  letter-spacing: 0.03375rem;
  margin: 0;
  padding: 0;
}

section.heading .wrapper img {
  position: absolute;
  left: -3.4375rem;
  top: 3.0625rem;
}


.cards-container {
  display: flex;
  max-width: 63.78938rem;
  padding-top: 1.5rem;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.the-rainbow-tour-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  width: min-content;
}

.the-wild-tour-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  width: min-content;
}

.gourmet-sunset-cruise-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  width: min-content;
}

.the-rainbow-tour-card .card {
  display: flex;
  position: relative;
  width: 20.42981rem;
  height: 30.66388rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.894rem;
  box-shadow: 0px 0.882px 13.52px 1.207px rgba(0, 0, 0, 0.17);
  background-image: url('assets/images/rainbow.jpg');
  border: 2.043px solid rgba(255, 255, 255, 0.60);
  background-position: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.the-rainbow-tour-card .card::after {
  content: "";
  position: absolute;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
  border-radius: 0.894rem;
  background: linear-gradient(180deg, rgba(4, 8, 27, 0.00) 0%, rgba(4, 8, 27, 0.00) 78.48%, rgba(4, 8, 27, 0.30) 100%);
  z-index: 1;
}

a {
text-decoration: none;
}

button:focus {
  outline: none;
}

.the-rainbow-tour-card .card > * {
  position: relative;
  z-index: 2;
}



.cards-container#special-events {
padding-top: 1.5rem;
}

.titolo-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex start;
  gap: 0.625rem;
  padding-left: 0rem;
  padding-top: 2rem;
}

.titolo-wrapper#special {
  padding-top: 2.5rem;
}


.titolo-cards {
  color: #04081B;
  font-family: "Plus Jakarta Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0rem;
  margin-bottom: 0rem;
  align-self: stretch;
}

.the-rainbow-tour-card#barca-terapia .card{
  background-image: url('assets/images/bimbi.jpg');
  background-position: left center;
}

.the-wild-tour-card#blow-me-away .card{
  background-image: url('assets/images/fireworks.jpg');
}

.gourmet-sunset-cruise-card#wicked-games .card{
  background-image: url('assets/images/romantic.jpg');
  background-position: left center;
}


.the-wild-tour-card .card {
  display: flex;
  position: relative;
  width: 20.42981rem;
  height: 30.66388rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.894rem;
  box-shadow: 0px 0.882px 13.52px 1.207px rgba(0, 0, 0, 0.17);
  background-image: url('assets/images/wild.jpg');
  border: 2.043px solid rgba(255, 255, 255, 0.60);
  background-position: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.the-wild-tour-card .card::after {
  content: "";
  position: absolute;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
  border-radius: 0.894rem;
  background: linear-gradient(180deg, rgba(4, 8, 27, 0.00) 0%, rgba(4, 8, 27, 0.00) 78.48%, rgba(4, 8, 27, 0.30) 100%);
  z-index: 1;
}

.the-wild-tour-card .card > * {
  position: relative;
  z-index: 2;
}



.gourmet-sunset-cruise-card .card {
  display: flex;
  position: relative;
  width: 20.42981rem;
  height: 30.66388rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.894rem;
  box-shadow: 0px 0.882px 13.52px 1.207px rgba(0, 0, 0, 0.17);
  background-image: url('assets/images/gourmet.jpg');
  border: 2.043px solid rgba(255, 255, 255, 0.60);
  background-position: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gourmet-sunset-cruise-card .card::after {
  content: "";
  position: absolute;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
  border-radius: 0.894rem;
  background: linear-gradient(180deg, rgba(4, 8, 27, 0.00) 0%, rgba(4, 8, 27, 0.00) 78.48%, rgba(4, 8, 27, 0.30) 100%);
  z-index: 1;
}

.gourmet-sunset-cruise-card .card > * {
  position: relative;
  z-index: 2;
}

.the-rainbow-tour-card .card:hover,
.the-wild-tour-card .card:hover,
.gourmet-sunset-cruise-card .card:hover {
cursor: pointer;
  transform: scale(1.03);
}



@keyframes slideInRight {
  from {
    transform: translateX(0) scale(1);
    opacity: 0.5;
  }
  to {
    transform: translateX(6px) scale(1.1);
    opacity: 1;
  }
}

.the-rainbow-tour-card .details .freccia,
.the-wild-tour-card .details .freccia,
.gourmet-sunset-cruise-card .details .freccia {
  opacity: 0.5;
  transform: translateX(0) scale(1);
}

.the-rainbow-tour-card .card:hover .details .freccia,
.the-wild-tour-card .card:hover .details .freccia,
.gourmet-sunset-cruise-card .card:hover .details .freccia {
  animation: slideInRight 0.3s ease forwards;
}











.details .wrapper img {
  width: 1.25rem;
  height: 1.25rem;
  filter: brightness(0) invert(1); /* rende bianca l'immagine */
}






.the-rainbow-tour-card .card .details,
.the-wild-tour-card .card .details,
.gourmet-sunset-cruise-card .card .details {
  display: flex;
  width: 17.875rem;
  height: 1.1875rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 1.26963rem;
  bottom: 1.28888rem;
}

.the-rainbow-tour-card .card .details .wrapper,
.the-wild-tour-card .card .details .wrapper,
.gourmet-sunset-cruise-card .card .details .wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.the-rainbow-tour-card .card .details .wrapper .wrapper-1,
.the-rainbow-tour-card .card .details .wrapper .wrapper-2,
.the-rainbow-tour-card .card .details .wrapper .wrapper-3,
.the-wild-tour-card .card .details .wrapper .wrapper-1,
.the-wild-tour-card .card .details .wrapper .wrapper-2,
.the-wild-tour-card .card .details .wrapper .wrapper-3,
.gourmet-sunset-cruise-card .card .details .wrapper .wrapper-1,
.gourmet-sunset-cruise-card .card .details .wrapper .wrapper-2,
.gourmet-sunset-cruise-card .card .details .wrapper .wrapper-3 {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}



.the-rainbow-tour-card .card .details .wrapper p,
.the-wild-tour-card .card .details .wrapper p,
.gourmet-sunset-cruise-card .card .details .wrapper p {
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.the-rainbow-tour-card .copy-wrapper,
.the-wild-tour-card .copy-wrapper,
.gourmet-sunset-cruise-card .copy-wrapper {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

.the-rainbow-tour-card .copy-wrapper h1,
.the-wild-tour-card .copy-wrapper h1,
.gourmet-sunset-cruise-card .copy-wrapper h1 {
  color: #04081B;
  font-family: "Plus Jakarta Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  width: 100%;
  padding: 0;
}

.the-rainbow-tour-card .copy-wrapper p,
.the-wild-tour-card .copy-wrapper p,
.gourmet-sunset-cruise-card .copy-wrapper p {
  color: rgba(95, 96, 99, 0.99);
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem; /* 165.177% */
  margin: 0;
  padding: 0;
}

.the-rainbow-tour-card .copy-wrapper .wrapper,
.the-wild-tour-card .copy-wrapper .wrapper,
.gourmet-sunset-cruise-card .copy-wrapper .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  width: fit-content;
}

.the-rainbow-tour-card .copy-wrapper .wrapper .first,
.the-wild-tour-card .copy-wrapper .wrapper .first,
.gourmet-sunset-cruise-card .copy-wrapper .wrapper .first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3125rem;
  width: fit-content;
}

.the-rainbow-tour-card .copy-wrapper .wrapper .first p,
.the-wild-tour-card .copy-wrapper .wrapper .first p,
.gourmet-sunset-cruise-card .copy-wrapper .wrapper .first p {
  color: #AAAEB2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Plus Jakarta Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.element::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.the-rainbow-tour-card .copy-wrapper .wrapper p,
.the-wild-tour-card .copy-wrapper .wrapper p,
.gourmet-sunset-cruise-card .copy-wrapper .wrapper p {
  color: #AAAEB2;
  font-family: "Plus Jakarta Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  width: fit-content;
  padding: 0;
}

.the-rainbow-tour-card .copy-wrapper h3,
.the-wild-tour-card .copy-wrapper h3,
.gourmet-sunset-cruise-card .copy-wrapper h3 {
  color: #0075FA;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.perks p:first-of-type {
  color: #04081B;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.perks p:last-of-type {
  color: rgba(95, 96, 99, 0.99);
  font-family: "Plus Jakarta Sans";
  font-size: 0.82588rem;
  font-weight: 400;
  line-height: 1.44531rem;
  margin: 0;
  padding: 0;
}

.perks {
display: flex;
max-width: 63.5rem;
padding-top: 10rem;
flex-direction: column;
align-items: center;
gap: 1.875rem;
align-self: stretch;
justify-content: center;
padding-bottom: 5rem;
}

.perks .wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.perks .first {
display: flex;
align-items: center;
gap: 1.875rem;
align-self: stretch;
}

.perks .second {
display: flex;
align-items: center;
gap: 1.875rem;
align-self: stretch;
}

.perks .third {
display: flex;
justify-content: center;
align-items: flex-start;
gap: 1.875rem;
align-self: stretch;
}

.perks .first .wrapper-1,
.perks .first .wrapper-2,
.perks .first .wrapper-3,
.perks .first .wrapper-4 {
display: flex;
align-items: center;
gap: 1.25rem;
flex: 1 0 0;
justify-content: flex-start;
}

.perks .first .wrapper-1 .wrapper,
.perks .first .wrapper-2 .wrapper,
.perks .first .wrapper-3 .wrapper,
.perks .first .wrapper-4 .wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.perks .second .wrapper-1 .wrapper,
.perks .second .wrapper-2 .wrapper,
.perks .second .wrapper-3 .wrapper,
.perks .second .wrapper-4 .wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.perks .third .wrapper-1 .wrapper,
.perks .third .wrapper-2 .wrapper,
.perks .third .wrapper-3 .wrapper,
.perks .third .wrapper-4 .wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.perks .second .wrapper-1,
.perks .second .wrapper-2,
.perks .second .wrapper-3,
.perks .second .wrapper-4 {
display: flex;
align-items: center;
gap: 1.25rem;
flex: 1 0 0;
justify-content: flex-start;
}


.perks .third .wrapper-1,
.perks .third .wrapper-2,
.perks .third .wrapper-3 {
display: flex;
align-items: center;
justify-content: flex-start;
gap: 1.25rem;
flex: 1 0 0;
}



.features-block {
  display: none;
}


















footer {
    background: #F8F9FA;
    padding: 1.875rem 0.9375rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
}

footer .wrapper p:first-of-type {
  color: #04081B;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

footer .wrapper p:last-of-type {
  color: rgba(95, 96, 99, 0.99);
  font-family: "Plus Jakarta Sans";
  font-size: 0.82588rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.44531rem;
  margin: 0;
  padding: 0;
}