/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EAEAEA;
}

.nav-navbar-mobile {
  display: flex;
  padding: 1.875rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

section.experiences {
  display: flex;
  padding: 0rem 1.875rem 2.5rem 1.875rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
}

h1 {
  color: #04081B;
  text-align: center;
  font-family: Petrona;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.experiences p {
  color: rgba(117, 118, 122, 0.99);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  letter-spacing: 0.03375rem;
}

.experiences .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.experiences .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}

.experiences .bottom .container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
}

.experiences .bottom .container-top .container-left,
.experiences .bottom .container-top .container-right {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.experiences .bottom p {
  color: #0075FA;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.experiences .bottom .container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3125rem;
  align-self: stretch;
}

.experiences .bottom .container-bottom .container-left,
.experiences .bottom .container-bottom .container-right {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

/* —————————————————————————————————————————————
   CARDS
   ————————————————————————————————————————————— */

.card {
  cursor: pointer;
  display: inline-flex;
  padding: 0.4025rem 0.4025rem 1.00619rem 0.4025rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.00619rem;
  position: relative;
  border-radius: 0.4025rem;
  border: 0.402px solid rgba(140, 149, 152, 0.50);
  background: #FFF;
  position: relative;
  box-shadow: 0px 0.882px 3.518px 1.207px rgba(0, 0, 0, 0.07);
}





.card .containermain {
  display: flex;
  width: 20.02775rem;
  padding: 0rem 0.77425rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.51619rem;
}

.card .heading {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.card h2 {
  color: #04081B;
  text-align: center;
  font-family: Petrona;
  font-size: 1.47856rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card .details {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.card .containerfirst,
.card .containersecond,
.card .containerthird {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25806rem;
}

.card .details p {
  color: #0075FA;
  font-family: "Plus Jakarta Sans";
  font-size: 0.61944rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card .copy {
  color: rgba(95, 96, 99, 0.99);
  font-family: "Plus Jakarta Sans";
  font-size: 0.82588rem;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 1.44531rem; /* 175% */
  align-self: stretch;
}

.card .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card .cta p {
  color: #04081B;
  font-family: "Plus Jakarta Sans";
  font-size: 0.78856rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.20244rem; /* 152.488% */
}

.card .immagine {
  width: 19.997rem;
  height: 30.01119rem;
  aspect-ratio: 319.92/480.18;
  border-radius: 0.20056rem;
}

.card .sfumaturatop,
.card .sfumaturabottom {
  width: 19.99513rem;
  height: 30.01125rem;
  position: absolute;
  left: 0.40238rem;
  top: 0.4025rem;
  border-radius: 0.20063rem;
  background-blend-mode: overlay;
}

.card .sfumaturatop {
  background: linear-gradient(360deg, rgba(4, 8, 27, 0.00) 0%, rgba(4, 8, 27, 0.00) 78.48%, rgba(4, 8, 27, 0.30) 100%);
}

.card .sfumaturabottom {
  background: linear-gradient(180deg, rgba(4, 8, 27, 0.00) 0%, rgba(4, 8, 27, 0.00) 78.48%, rgba(4, 8, 27, 0.30) 100%);
}

.cardcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 1.5rem;
  gap: 0rem;
  overflow-x: visible;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch; /* per mobile smooth scroll */
}

/* —————————————————————————————————————————————
   WRAPPER-FILTER (Main / Special)
   ————————————————————————————————————————————— */

.wrapper-filter {
  display: inline-flex;
  margin-top: 1rem;
  padding: 0.3125rem;
  align-items: flex-start;
  gap: 1.00619rem;
  border-radius: 0.75rem;
  border: 0.402px solid rgba(140, 149, 152, 0.50);
  background: #FFF;
  box-shadow: 0px 0.882px 3.518px 1.207px rgba(0, 0, 0, 0.07);
}

.wrapper-filter .first,
.wrapper-filter .second {
  display: flex;
  height: 1.875rem;
    white-space: nowrap;  
  min-width: 10.375rem;
  padding: 0.3125rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.4375rem;
  background: #FFF; /* default */
    cursor: pointer;
}

.wrapper-filter .first p,
.wrapper-filter .second p {
  flex: 1 0 0;
  color: #C2C2C2; /* default */
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.20244rem; /* 120.246% */
}

.wrapper-filter .first.active,
.wrapper-filter .second.active {
  background: #04081B; /* active bg */
}

.wrapper-filter .first.active p,
.wrapper-filter .second.active p {
  color: #FFF; /* active text */
}

/* Hover rimossi perché gestito via JS */

.cardcontainer .card#first {
  transform: rotate(-1.87deg);
  margin-right: -1rem;
  z-index: 1;
  animation: launchControlFirst 0.5s ease; /* parte subito al load */
}




  @keyframes launchControlFirst {
  from {
    transform: rotate(1.87deg);
    filter: blur(5px);
    margin-right: -20rem; }
  to   { 
    transform: rotate(-1.87deg);
    filter: blur(0px);
    margin-right: -1rem; }
}


.cardcontainer .card#first:hover {
  transform: rotate(0deg);
  margin-right: -1rem;
  z-index: 3;
  bottom: .5rem;
  scale: 1.03;
  transition: transform 0.1s ease,  /* anima rotate+scale */
              margin-right 0.1s ease,
              bottom 0.1s ease,
              rotate 0.1s ease,
              scale 0.1s ease;
}

.cardcontainer .card#second:hover {
  transition: transform 0.1s ease,  /* anima rotate+scale */
              margin-right 0.1s ease,
              bottom 0.1s ease,
              rotate 0.1s ease,
              scale 0.1s ease;
}

.cardcontainer .card#first:hover ~ .card#second {
  /* es. sollevala di 1rem e ingrandiscila del 5% */
  z-index: 1;
  scale: 1.01;
  transition: scale 0.1s ease;
}

.cardcontainer .card#first:hover ~ .card#second {
  transition: mix-blend-mode 0.1s ease;
  transform: rotate(-1.87deg);
  mix-blend-mode: luminosity;
}

.cardcontainer .card#first:hover ~ .card#third {
  transition: mix-blend-mode 0.1s ease;
  mix-blend-mode: luminosity;
}


.cardcontainer .card#third {
  transform: rotate(1.87deg);
  margin-left: -1rem;
  z-index: 1;
  animation: launchControlThird 0.5s ease; /* parte subito al load */
}


  @keyframes launchControlThird {
  from { 
    transform: rotate(-1.87deg);
    filter: blur(5px);
    margin-left: -20rem; }
  to   { 
    transform: rotate(1.87deg);
    filter: blur(0px);
    margin-left: -1rem; }
}


.cardcontainer .card#third:hover {
  transform: rotate(0deg);
  margin-left: -1rem;
  z-index: 3;
  bottom: .5rem;
  scale: 1.03;
  transition: transform 0.1s ease,  /* anima rotate+scale */
              margin-right 0.1s ease,
              bottom 0.1s ease,
              rotate 0.1s ease,
              scale 0.1s ease;

}

.cardcontainer:has(.card#third:hover) .card#second {
  /* es. sollevala di 1rem e ingrandiscila del 5% */
  z-index: 1;
  scale: 1.01;
  transform: rotate(1.87deg);
  transition: scale 0.1s ease;
  mix-blend-mode: luminosity;
}


.cardcontainer:has(.card#third:hover) .card#first {
  transition: mix-blend-mode 0.1s ease;
  mix-blend-mode: luminosity;
}



.cardcontainer .card#second:hover {
    scale: 1.05;
  transition: transform 0.1s ease,  /* anima rotate+scale */
              margin-right 0.1s ease,
              bottom 0.1s ease,
              rotate 0.1s ease,
              scale 0.1s ease;

}

.cardcontainer:has(.card#second:hover) .card#third {
  /* es. sollevala di 1rem e ingrandiscila del 5% */
  z-index: 1;
  transition: scale 0.1s ease;
  mix-blend-mode: luminosity;
}


.cardcontainer:has(.card#second:hover) .card#first {
  transition: mix-blend-mode 0.1s ease;
  mix-blend-mode: luminosity;
}




.cardcontainer .card#second {
  bottom: .5rem;
  scale: 1.03;
  z-index: 2;
  animation: launchControlSecond 0.5s ease; /* parte subito al load */
}


  @keyframes launchControlSecond {
  from { 
    filter: blur(5px);
    bottom: -2rem; }
  to   { 
    filter: blur(0px);
    bottom: .5rem; }
}


.price {
display: flex;
padding: 0.1875rem 0.9375rem;
align-items: flex-start;
gap: 1.00619rem;
z-index: 100000;
position: absolute;
right: 8.41631rem;
bottom: 13.0045rem;
border-radius: 0.4375rem;
border: 0.402px solid rgba(140, 149, 152, 0.50);
background: #FFF;
display: none;
/* Drop Shadow Cards */
box-shadow: 0px 0.882px 3.518px 1.207px rgba(0, 0, 0, 0.07);
}

.price p {
color: #04081B;
font-family: "Plus Jakarta Sans";
font-size: 0.78856rem;
font-style: normal;
font-weight: 700;
line-height: 1.20244rem; /* 152.488% */
}

.cardcontainer .card#first:hover .price  {
  display: inline;
  animation: priceAppearFirst 0.2s ease; /* parte subito al load */
}



  @keyframes priceAppearFirst {
  from { 
    filter: blur(5px);
    bottom: 11.0045rem; }
  to   { 
    filter: blur(0px);
    bottom: 13.0045rem; }
}

.bottom#amenities {
  margin-top: 2rem;
}