
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EAEAEA;
}

.nav-navbar-mobile {
  display: flex;
  padding: 1.875rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

section.experiences {
  display: flex;
  padding: 0rem 1.875rem 2.5rem 1.875rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
}

h1 {
  color: #04081B;
  text-align: center;
  font-family: Petrona;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.experiences p {
  color: rgba(117, 118, 122, 0.99);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  letter-spacing: 0.03375rem;
}

.experiences .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.experiences .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}

.experiences .bottom .container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
}

.experiences .bottom .container-top .container-left {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.experiences .bottom .container-top .container-right {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.experiences .bottom p {
  color: #0075FA;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.experiences .bottom .container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3125rem;
  align-self: stretch;
}

.experiences .bottom .container-bottom .container-left {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}


.experiences .bottom .container-bottom .container-right{
  display: flex;
  align-items: center;
  gap: 0.625rem;
}


/* Cards below */

.card {
  display: inline-flex;
  padding: 0.4025rem 0.4025rem 1.00619rem 0.4025rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.00619rem;
  border-radius: 0.4025rem;
  border: 0.402px solid rgba(140, 149, 152, 0.50);
  background: #FFF;
  position: relative;
  box-shadow: 0px 0.882px 3.518px 1.207px rgba(0, 0, 0, 0.07);
}


.card .containermain {
  display: flex;
  width: 20.02775rem;
  padding: 0rem 0.77425rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.51619rem;
}

.card .heading {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.card h2 {
  color: #04081B;
  text-align: center;
  font-family: Petrona;
  font-size: 1.47856rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card .details {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.card .containerfirst {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25806rem;
}

.card .containersecond {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25806rem;
}

.card .containerthird {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25806rem;
}

  /* Font for the details below */

.card .details p {
  color: #0075FA;
  font-family: "Plus Jakarta Sans";
  font-size: 0.61944rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0; /* rimosso il padding */
}


.card .copy {
  color: rgba(95, 96, 99, 0.99);
  font-family: "Plus Jakarta Sans";
  font-size: 0.82588rem;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 1.44531rem; /* 175% */
  align-self: stretch;
}

.card .cta p {
  color: #0075FA;
  font-family: "Plus Jakarta Sans";
  font-size: 0.78856rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.20244rem; /* 152.488% */
}


.cardcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.62481rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* per mobile smooth scroll */
}


.card .sfumaturatop {
  width: 19.99513rem;
  height: 30.01125rem;
  position: absolute;
  left: 0.40238rem;
  top: 0.4025rem;
  border-radius: 0.20063rem;
  background: linear-gradient(360deg, rgba(4, 8, 27, 0.00) 0%, rgba(4, 8, 27, 0.00) 78.48%, rgba(4, 8, 27, 0.30) 100%);
  background-blend-mode: overlay;
}

.card .sfumaturabottom {
  width: 19.99513rem;
  height: 30.01125rem;
  position: absolute;
  left: 0.40238rem;
  top: 0.40244rem;
  border-radius: 0.20063rem;
  background: linear-gradient(180deg, rgba(4, 8, 27, 0.00) 0%, rgba(4, 8, 27, 0.00) 78.48%, rgba(4, 8, 27, 0.30) 100%);
  background-blend-mode: overlay;
}


.card .immagine {
  width: 19.997rem;
  height: 30.01119rem;
  aspect-ratio: 319.92/480.18;
  border-radius: 0.20056rem;
}
