@media screen and (max-width: 320px) {

    body {
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
    }

    * {
        border: red solid 1px;
    }

    nav {
        display: flex;
width: 20rem;
padding: 1.875rem 0.9375rem;
justify-content: space-between;
align-items: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    nav .wrapper {
display: flex;
padding-left: 30px;
padding-right: 30px;
width: 100%;
justify-content: space-between;
align-items: center;
flex: 1 0 0;
    }

nav button {
    display: flex;
width: 3rem;
height: 3rem;
min-width: 3rem;
padding: 0.625rem 0.3125rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 0.4375rem;
background: #0075FA;
}


nav button span {
    display: none;
}

section.heading .wrapper p {
color: rgba(117, 118, 122, 0.99);
font-family: "Plus Jakarta Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 171.429% */
letter-spacing: 0.02625rem;
align-self: stretch;
}

section.heading .wrapper {
display: flex;
max-width: 63.75rem;
flex-direction: column;
align-items: flex-start;
gap: 0.625rem;
align-self: stretch;
width: 100%;
}

.cardcontainer .card {
width: 17.06263rem;
height: 25.60975rem;
flex-shrink: 0;
}




















}